body {
  font-family: "Roboto", sans-serif;
  font-weight: 300; /* lightweight */
}

header h1 {
  font-weight: 600;
}

.sort-indicator {
  font-size: 0.8rem;
  margin-left: 5px;
}
th.sortable {
  cursor: pointer;
  user-select: none;
}
